.mainContent {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index:100;
    top: 3vh;
    color: white;
}


.card {
    top: 6vh;
    width: 50%;
    margin: auto;
    .cardBody {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .cardInfo {
      display: flex;
      flex-direction: row;
    }
    .cardText {
      font-weight: 700;
      font-size: 18px;
    }
    img {
      max-width: 200px;
      max-height: 150px;
    }
  }