.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card {
  width: 800px;
  margin: auto;
}

.cardBody {
  display: flex;
  flex-direction: row;
}

img {
  max-width: 200px;
  max-height: 150px;
}

.cardInfo {
  display: flex;
  flex-direction: row;
}

.filterButtons {
  display: flex;
  justify-content: center;
}

.cardText {
  font-weight: 700;
  font-size: 18px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
}

form {
  margin: auto;
  width: 400px;
  border: 1px solid black
}

.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  padding: 12px;
  border-radius: 12px;
  background-color: white;
}
